<div
  class="min-h-screen bg-gray-50 flex flex-col justify-center relative overflow-hidden sm:py-12"
>
  <div class="max-w-7xl mx-auto">
    <!-- New Div -->
    <div
      class="absolute -inset-1 bg-gradient-to-r from-green-600 to-skyblue-600 rounded-lg blur opacity-25"
    ></div>

    <div
      class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores ullam id ratione placeat tenetur modi molestias autem eius aut provident.</div>
  </div>
</div>
