
<footer class="bg-stone-700 flex flex-col justify-center items-center p-8">
  <div class="flex justify-center items-center">
    <!-- List Container -->
    <div class="flex justify-center space-x-32 mt-8">
      <div class="flex flex-col space-y-3 text-white">
        <a href="#" class="hover:text-brightRed">Home</a>
        <a href="#" class="hover:text-brightRed">Courses</a>
        <a href="#" class="hover:text-brightRed">About</a>
      </div>
      <div class="flex flex-col space-y-3 text-white">
        <a href="#" class="hover:text-brightRed">Careers</a>
        <a href="#" class="hover:text-brightRed">Community</a>
        <a href="#" class="hover:text-brightRed">Privacy Policy</a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="mt-8 text-white md:block">
    <small>Copyright &copy; 2022, All Rights Reserved</small>
  </div>
</footer>
