<div
  class="min-h-screen bg-gray-50 flex flex-col justify-center relative overflow-hidden sm:py-12"
>
  <div class="max-w-7xl mx-auto">
    <!-- New Div -->
    <div
      class="absolute -inset-1 bg-gradient-to-r from-green-600 to-skyblue-600 rounded-lg blur opacity-25"
    ></div>

    <div
      class="relative px-7 py-6 ring-1 ring-gray-900/5 rounded-xl leading-none flex items-top justify-start space-x-6"
    >
      <div class="flex justify-center justify-items-center">
        <div class="w-full max-w-sm">
          <form
            class="bg-white shadow-md rounded-xl p-20 mb-10"
            [formGroup]="formLogin"
            (ngSubmit)="onSubmit()"
          >
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="email"
              >
                Email
              </label>
              <input
                formControlName="email"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-emerald-500"
                id="email"
                type="text"
                placeholder="Email Address"
              />
            </div>
            <div class="mb-6">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="password"
              >
                Password
              </label>
              <input
                formControlName="password"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-emerald-500"
                id="password"
                type="password"
                placeholder="************"
              />
              <p [hidden]="true" class="text-red-500 text-xs italic">
                Please choose a password.
              </p>
            </div>
            <div class="flex items-center justify-between">
              <button
                class="bg-emerald-500 hover:bg-emerald-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-8"
                type="submit"
              >
                Sign In
              </button>
              <a
                class="inline-block align-baseline font-bold text-sm text-emerald-500 hover:text-emerald-800 mt-8"
                href="#"
              >
                Forgot Password?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
