<div
  class="min-h-screen bg-gray-100 flex justify-center relative overflow-hidden sm:py-12"
>
  <div class="max-w-7xl mx-auto">
    <div
      class="relative px-7 py-6 rounded-xl leading-none flex items-top justify-start space-x-6"
    >
      <div class="text-center">
        <div class="w-full max-w-sm">
          <button
            (click)="toggleModal()"
            class="ml-8 bg-emerald-500 hover:bg-emerald-800 text-xl text-white font-bold px-4 py-4 rounded-xl focus:outline-none focus:shadow-outline"
          >
            Add Question
          </button>
          <h1 class="text-center mt-10 text-5xl font-bold">Questions</h1>

          <!-- Display all questions from database -->

          <div class="bg-white rounded-xl mt-8 shadow-md">
            <ul class="flex flex-col" *ngFor="let question of allQuestions">
              <li class="border-b-2 border-gray-100">
                <div
                  [ngClass]="{
                    'py-5 px-4 justify-between border-l-4 border-transparent bg-transparent': true,
                    'hover:border-blue-400 hover:bg-gray-200':
                      question.category === 'React',
                    'hover:border-green-500 hover:bg-gray-100':
                      question.category === 'NodeJS'
                  }"
                >
                  <div className="sm:pl-4 pr-8 flex sm:items-center">
                    <p class="py-2 font-bold">Question {{ question.id }}</p>

                    <div className="space-y-1">
                      <p
                        className="text-base text-gray-700 font-bold tracking-wide"
                      >
                        {{ question.question }}
                      </p>

                      <div class="mt-4">
                        <span
                          class="bg-indigo-500 text-white text-sm font-medium mr-2 px-3 py-1 rounded-full"
                        >
                          {{ question.answerType }}</span
                        >
                      </div>
                    </div>
                  </div>

                  <!-- <button
                    type="button"
                    class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-1 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
                  >
                    Edit
                  </button> -->
                </div>
              </li>
            </ul>
          </div>
          <!-- --------------------------------------- -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------Modal--------------------->
<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative my-6 mx-auto w-auto lg:w-6/12">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold">Add a question</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-50 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="toggleModal()"
        >
          <span
            class="bg-transparent text-black opacity-50 h-6 w-6 text-2xl block outline-none focus:outline-none"
          >
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <form
          class="rounded-xl mt-2"
          [formGroup]="questionForm"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <label
              for="category"
              class="block mb-2 text-sm font-bold text-gray-900"
              >Category</label
            >
            <select
              formControlName="category"
              id="category"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
            <label
              class="block text-gray-700 text-sm font-bold mt-4 mb-2"
              for="question"
            >
              Question
            </label>
            <input
              formControlName="question"
              class="appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-emerald-500"
              id="question"
              type="text"
              placeholder="What is a virtual DOM?"
            />
          </div>
          <div class="mb-4">
            <p
              class="block text-gray-700 text-sm font-bold mt-4 mb-2"
              for="answerType"
            >
              Answer Type
            </p>
            <div class="flex flex-wrap">
              <div *ngFor="let answerType of answerTypeArray">
                <div
                  class="flex items-center pl-4 border border-gray-200 rounded mr-10 w-60"
                >
                  <input
                    formControlName="answerType"
                    [id]="'textAnswer' + answerType"
                    type="radio"
                    name="answerType"
                    [value]="answerType"
                    [(ngModel)]="selectedAnswerType"
                  />
                  <label
                    [for]="'textAnswer' + answerType"
                    class="w-full py-4 ml-2 text-sm text-gray-900"
                    >{{ answerType }}</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedAnswerType != ''">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              *ngIf="
                selectedAnswerType !== 'Text' &&
                selectedAnswerType !== 'True/False'
              "
            >
              Write the options and mark the correct answer
            </label>
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              *ngIf="selectedAnswerType === 'Text'"
            >
              Answer
            </label>
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              *ngIf="selectedAnswerType === 'True/False'"
            >
              Mark the correct answer
            </label>

            <!-- Textbox -->
            <div *ngIf="selectedAnswerType === 'Text'" class="lg:flex">
              <input
                formControlName="answer"
                class="border-2 border-gray-200 rounded w-full h-[100px] py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-emerald-500"
                id="answer"
                type="textbox"
              />
            </div>

            <!-- MCQ -->
            <div *ngIf="selectedAnswerType === 'MCQ'">
              <div formArrayName="multipleAnswers">
                <div
                  *ngFor="
                    let answerGroup of answersArray.controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <input
                    type="radio"
                    formControlName="radio"
                    name="mcq-radio"
                    value="true"
                    class="mr-2"
                  />
                  <input
                    type="text"
                    formControlName="text"
                    class="border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-emerald-500 mb-2"
                  />
                </div>
              </div>
              <button
                type="button"
                (click)="addAnswer()"
                class="mt-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Add Option
              </button>
            </div>

            <!-- True/False -->
            <div *ngIf="selectedAnswerType === 'True/False'">
              <input
                id="answer-true"
                type="radio"
                value="true"
                name="answer"
                formControlName="answer"
              />
              <label class="text-gray-700 text-sm mb-2" for="answer-true">
                True
              </label>
              <input
                id="answer-false"
                type="radio"
                value="false"
                name="answer"
                class="ml-8"
                formControlName="answer"
              />
              <label class="text-gray-700 text-sm mb-2" for="answer-false">
                False
              </label>
            </div>

            <div *ngIf="selectedAnswerType === 'Checkbox'">
              <div formArrayName="multipleAnswers">
                <div
                  *ngFor="
                    let answerGroup of answersArray.controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <input
                    type="checkbox"
                    formControlName="radio"
                    name="mcq-radio"
                    class="mr-2"
                  />
                  <input
                    type="text"
                    formControlName="text"
                    class="border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-emerald-500 mb-2"
                  />
                </div>
              </div>
              <button
                type="button"
                (click)="addAnswer()"
                class="mt-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Add Option
              </button>
            </div>
          </div>
          <!--footer-->
          <div
            class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
          >
            <button
              class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="submit"
              (click)="onSubmit()"
            >
              Add
            </button>
            <button
              class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              (click)="toggleModal()"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
<!--------------------------------------->
